body {
    font-family: sans-serif;
}

.grid-squares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 75vmin;
    height: 75vmin;
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-size: 2em;
}

.start-screen, .token-selection, .player-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vmin;
}

#x-button, #o-button, #two-player, #computer {
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}